:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --secondary: rgba(15, 31, 28, 0.5);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
    color: #0F1F1C;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

.container-right {
    padding-left: calc(100% - var(--container-width))/2 + var(--container-padding);
}

.header a {
    color: #fff;
}

/* styling header start */

.header {
    min-height: 940px;
    padding-top: 44px;
    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;
    background-image: url(./../images/header-button.svg);
    background-size: 100%;
}

.header__top {
    margin-bottom: 86px;
}

.header__content {
    max-width: 592px;

}

.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
}

.nav__list {
    display: flex;
    column-gap: 80px;
    font-weight: 500;
    font-size: 15px;
}

.nav__list a {
    position: relative;
}


.nav__list a.active::after,
.nav__list a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 10px;
    bottom: -6px;
    display: block;
    /* width: 35px; */
    height: 4px;
    border-radius: 50px;
    background: #C4C4C4;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.nav__login {
    display: flex;
    column-gap: 25px;
    font-size: 15px;
    font-weight: 500;
}

.btn {
    padding: 13px 44px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 100px;

}




/* styling header end */