:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --secondary: rgba(15, 31, 28, 0.5);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
    color: #0F1F1C;
}

.container {
    margin: 0 auto;
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
}

.container-right {
    padding-left: calc((100% - var(--container-width))/2);
}

a {
    text-decoration: none;
}

.header a {
    color: #fff;
}

/* styling header start */

.header {
    overflow: hidden;
    position: relative;
    min-height: 940px;
    padding-top: 44px;
    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
    color: #fff;
}

.header a {
    color: #fff;
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;
    background-image: url(./../images/header-button.svg);
    background-size: 100%;
}

.header__top {
    margin-bottom: 86px;
}

.header__row {
    display: flex;
}

.header__content {
    max-width: 592px;
    position: relative;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
}

.nav__list {
    display: flex;
    column-gap: 80px;
    font-weight: 500;
    font-size: 15px;
}

.nav__list a {
    position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 10px;
    bottom: -6px;
    display: block;
    /* width: 35px; */
    height: 4px;
    border-radius: 50px;
    background: #C4C4C4;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.nav__login {
    display: flex;
    align-items: center;
    column-gap: 25px;
    font-size: 15px;
    font-weight: 500;
}

.login__btn {
    display: inline-block;
    padding: 13px 44px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
}

.login__btn:hover {
    color: rgb(26, 25, 21);
    transform: color 0.2s ease-in;
}

.login__btn:active {
    position: relative;
    top: 1px;
}

.header__badge {
    margin-bottom: 7px;
    display: inline-block;
    padding: 11px 30px;
    font-size: 18px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    color: #FFFFFF;
}

.header__title {
    margin-bottom: 30px;
    font-size: 55px;
    line-height: 82px;
    color: #fff;
}

.header__text {
    max-width: 519px;
    margin-bottom: 68px;
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    color: rgba(255, 255, 255, 0.5);
}

.header__btn {
    display: inline-block;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #FEFEFE;
    padding: 27px 48px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
}

.header__btn:hover {
    color: rgb(26, 25, 21);
    transform: color 0.2s ease-in;
}

.header__btn:active {
    position: relative;
    top: 1px;
}

.header__img {
    position: relative;
    flex-grow: 1;
}

.header__img img {
    position: absolute;
    top: -181px;
    right: -87px;
    max-width: unset;
    width: 894px;
    height: 940px;
}

/* styling header end */

/* styling main section destinations start */

.destinations {
    padding: 96px 0 100px;
    overflow-x: hidden;
}

.destinations__row {
    display: flex;
    column-gap: 50px;
}

.destinations__content {
    max-width: 456px;

}

.destinations__slider {
    width: 1110px;
    flex-shrink: 0;
}

.destinations {}

.destinations__title {
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 600;
}

.destinations__title span {
    font-size: 30px;
}

.destinations__text {
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: var(--secondary);
}

.btn {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    color: #FEFEFE;
    padding: 25px 45px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
}

.btn:hover {
    color: rgb(26, 25, 21);
    transform: color 0.2s ease-in;
}

.btn:active {
    position: relative;
    top: 1px;
}

.slider__item {
    margin-top: 27px;
    width: 335px;
    height: 402px;
    object-fit: cover;
    border-radius: 35px;
    transition: 0.2s ease-in;
}

.slider .center .slider__item {
    margin-top: 0;
    width: 380px;
    height: 456px;
}

/* styling main section destinations end */